@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#003d62;
}

.text{
    font-family: 'Nunito', sans-serif;
}
.back-g-nav{
    
    background-color: rgb(0, 195, 255);
    display: block;

}
  
.main-heading{
    font-family: 'Prompt', sans-serif;
}
.iam{font-family: 'Outfit', sans-serif;}
.project{font-family: 'Cinzel', serif;
  
}
.border{
    border: double;
    padding: 2%;
    color:skyblue ;
    padding-top: 3%;
}
H3{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: larger;
}

.footer{
    background-color: #007292;
 
}
.Text-align{
    text-align: center;
}
.social-m{
    text-align: center;
    justify-content: center;
    
}
html{
    scroll-behavior: smooth;
}


/* media query */
@media (max-width: 920px){

    .main-heading{
        font-size: 100%;
        font-size: xx-large;
        text-align: center;
        padding-top: 7%;
        padding-left: 5%;
      

    }
}

@media (min-width: 1366px){

    .main-heading{
       
    }
    
}



